.pick {

  &__sub-title,
  &__title {
    @include title;
  }


  &__container {
    margin-top: 140px;
  }

  &__block {
    background-color: $secondary-color;
    max-width: 1160px;
    padding-top: 97px;
    padding-bottom: 70px;
    padding-right: 95px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__line {
    justify-content: space-between
  }

  &__line {
    margin-left: 15px;
    max-width: 760px;
    height: 2px;
    background-color: #fdd6ba;
    display: inline;
    display: flex;
    align-items: center;
    margin: 0 150px 82px 20px;
  }

  &__aylana {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $little-color;
    border: 2px solid $main-color;
    display: inline-block;
    background-color: transparent;
  }

  &__aylana:nth-child(1) {
    margin-left: -15px;
  }

  &__aylana:nth-child(3) {
    margin-right: -15px;
  }

  &__title {
    max-width: 255px;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin-bottom: 80px
  }


  &__list {
    display: flex
  }

  &__item {
    max-width: 285px
  }

  &__item:not(:last-child) {
    margin-right: 95px;
  }

  &__sub-title {
    margin-top: 38px;
    margin-bottom: 42px;
    max-width: 255px;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
  }

  &__sub-text {
    @include text($text-color);
    color: #FEFCF7;
  }

  &__item:first-child::before {
    width: 90px;
    background-image: url('../img/work1.svg');
    display: inline-block
  }

  &__item:nth-child(2)::before {
    width: 101px;
    background-image: url('../img/work2.svg');
    display: inline-block
  }

  &__item:nth-child(3)::before {
    width: 98px;
    background-image: url('../img/work3.svg');
    display: inline-block
  }

  &__item:first-child::before,
  &__item:nth-child(2)::before,
  &__item:nth-child(3)::before {
    content: "";
    height: 72px;
    background-repeat: no-repeat
  }

}

@media only screen and (max-width:700px) {

  .pick {
    &__container {
      padding: 0 20px;
      margin-top: 144px;
    }

    &__text {
      font-size: 15px;
      line-height: 25px;
    }

    &__item:not(:last-child) {
      margin-right: 20px;
    }
  }

}

@media only screen and (max-width:669px) {
  .pick {
    &__item:not(:last-child) {
      margin-right: 0;
    }

    &__line {
      display: none;
    }

    &__list {
      flex-direction: column;

    }

    &__item:not(:last-child) {
      margin-right: 20px;
    }

    &__item {
      max-width: 100%;
      text-align: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 56px;
    }

    &__sub-title {
      max-width: 100%;
      margin: 0;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__title {
      max-width: 100%;
      text-align: center;

    }

  }
}