.about-hero {
&{
  margin-top: 113.88px;
}

  &__text-block {
    padding: 117px 85px;
    background-image: url('../../img/herobg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    border-radius: 10px;
  }

  &__title {
    max-width: 493px;
    @include title;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
  }

  &__text {
    max-width: 445px;
    @include text ($text-color);
    color: #FEFCF7;
    margin-bottom: 56px;
    opacity: 0.8;
  }
}


@media only screen and (max-width:850px) {
  .about-hero {
    &__text-block {
      background-image: url('../../img/about-herobg.jpg');
      padding: 104px 58px;
      background-position: 37%;
      border-radius: 10px;
    }

    &__title {
      max-width: 329px;
      font-size: 48px;
      line-height: 48px;
    }
&__text{
  max-width: 398px;
  font-size: 15px;
line-height: 25px;
margin-bottom: 40px;
}
&__link{
  font-size: 15px;
line-height: 23px;
padding: 14px 28px;
}

  }

}
@media only screen and (max-width:689px) {
  .about-hero {
margin-top: 61.5px;


  }


}
@media only screen and (max-width:483px) {
  .about-hero {
    &__text-block {
      display: flex;
      flex-direction: column;
      align-items: center;
     text-align: center;
      background-image: url('../../img/about-hero3.jpg');
      padding: 100px 10px;
    }
    &__title{
      max-width: 260px;
      font-size: 35px;
line-height: 35px;
margin-bottom: 24px;
    }
    &__text{
max-width: 279px;
font-size: 15px;
line-height: 25px;
margin-bottom: 29px;
    }
   
  }


}